---
export interface TimelineItem {
  company: string;
  startYear: number;
  endYear: string;
  title: string;
  description: string;
}

interface Props {
  items: TimelineItem[];
}

const { items } = Astro.props;
---

<ol class="relative border-s border-stone-300">
  {
    items.map((item) => (
      <li class="mb-10 ms-4">
        <div class="bg-white shadow-lg rounded-2xl p-4 hover:shadow-lg hover:shadow-pink-50">
          <div class="absolute w-4 h-4 bg-[#dae2db] rounded-full -start-2 shadow-md shadow-gray-800 ring-2 ring-[#73a8a4]" />
          <h3 class="mb-1 text-md font-normal leading-none text-[#5a6252]">
            {" "}
            {item.company}{" "}
            <time class="mb-1 text-sm font-normal leading-none text-gray-400">
              {item.startYear}-{item.endYear}
            </time>
          </h3>

          <div class=" bg-[#325764] rounded-2xl px-2 py-2 shadow ">
            {" "}
            <h3 class="text-lg font-semibold text-white">{item.title}</h3>
          </div>

          <p class="mb-4 text-[15px] leading-relaxed text-gray-800">
            {item.description}
          </p>
        </div>
      </li>
    ))
  }
</ol>
